@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* ******************************************************
	Calendar: Upcoming events and All places
*********************************************************/
.calendar-header {
    background-image: url("../images/banners/places.jpg");
}

.callendar-table {
    margin: 10px auto;
}

.recurring-event {
    display: none;
}

.event-row:hover {
    background: rgb(250 235 215);
    cursor: pointer;
}

.no-stilization {
    border: none;
    background: white;
    color: #222;
    height: 100%;
}
.form-container{
    width: 60%;
}
/* ******************************************************
	Pagination
*********************************************************/
.page-number {
    margin: 2px;
    padding: 2px 8px;
}

    .page-number:hover {
        opacity: 100%;
        background: brown;
        color: white;
    }

.active-page {
    opacity: 80%;
    background: brown !important;
    color: white !important;
}

/* ******************************************************
	Modal Box
*********************************************************/

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 3% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.span-close {
    color: #222;
    font-size: 40px;
    font-weight: bold;
}

    .span-close:hover,
    .span-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.newFeedback {
    color: brown;
    font-weight: bold;
}

.oldFeedback {
    color: #222;
    font-weight: normal;
}

    .newFeedback:hover,
    .oldFeedback:hover {
        background: rgb(250 235 215);
    }

.fa-star {
    font-size: 15px;
}

.trans--grow {
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}

.grow {
    width: 100%;
}

.hr1 {
    margin: auto;
}

.hr2 {
    margin-right: 0;
}

hr {
    margin-top: 30px;
    padding: 2px 0;
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(191,0,0,1) 50%, rgba(255,255,255,1) 100%);
    letter-spacing: 5px;
}