/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

*, *:before, *:after {
    box-sizing: inherit;
}

article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.area-link {
    padding: 0px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    box-sizing: border-box;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: absolute;
    min-height: 100%;
}*/

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*.footer {*/
/*position:absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    background: white;
    margin: 0px;
}*/
.footer-container {
    color: #1861ac;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    background: white;
    margin: 0px;
}

.footer-container-left {
    display: flex;
    flex-direction: column;
}

.other-to-read-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

i {
    padding-right: 10px;
}

.other-to-read-container ul li,
.contact-info-container ul li {
    padding: 7px;
}

.footer-container article h4 {
    margin: 20px auto auto 30px;
    font-weight: 600;
}


.card-img-top {
    height: 300px;
    width: auto;
    margin: auto;
}


/*---------------------------------*/
body {
    background: white !important;
    color: #222;
    font-family: "Playfair Display", serif;
    font-size: 100%;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

a {
    font-family: "Playfair Display",serif;
    text-decoration: none;
    outline: none;
    color: #222;
}

    a:hover, a:focus {
        color: #373e18;
        text-decoration: none;
    }

    a:visited {
        color: #222;
        background: white;
    }

section {
    width: 100%;
    padding: 3em 0;
    margin: 20px auto;
}

h2 {
    color: #1a0e0e;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

    h2 span {
        display: block;
        padding: 0;
        font-size: 18px;
        opacity: 0.7;
        margin-top: 5px;
        text-transform: uppercase;
    }

#float-right {
    float: right;
}


/*Opacity*/
.op-80 {
    opacity: 80%
}

/*Background behind text*/
.bg-brown {
    background: brown;
    color: white;
}

/* ******************************************************
	Script Top
*********************************************************/
.ScriptTop {
    /*background-color: #efe3af;*/
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.ScriptTop-navbar {
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    text-transform: uppercase;
    padding: 0px 10px;
    width: min-content;
}

    /* To Navigation Style 1*/
    .ScriptTop-navbar ul {
    }

        .ScriptTop-navbar ul li {
            list-style: none;
            display: inline-block;
            width: 200px;
            margin: 4px;
        }

            .ScriptTop-navbar ul li a {
                padding: 5px 18px;
                display: flex;
                justify-content: center;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                text-transform: capitalize;
            }

                .ScriptTop-navbar ul li a:hover {
                    opacity: 100%;
                }

                .ScriptTop-navbar ul li a:visited {
                    background: brown;
                    color: white;
                }


/* ******************************************************
	Script Header
*********************************************************/
.ScriptHeader {
    /*background-image: url("../images/banners/nosii-banner.jpg");*/
    background-color:brown;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2em 0;
    height: inherit;
    position: relative;
}

.rt-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.Scriptcontent {
    line-height: 28px;
}

.ScriptHeader h1 {
    color: antiquewhite;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}

.ScriptHeader h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;
}

.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}

.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}

/* ******************************************************
	Gallery: Images, Videos, Responsive Iframe
*********************************************************/
.area-information {
    display: block;
    text-align: center;
}

.gallery-header {
    background-image: url("../images/banners/nosii-banner.jpg");
}

.gallery-top {
    justify-content: center;
}

.gallery-navbar {
    width: auto;
}

.gallery-section {
    display: none;
}

div.area-gallery {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: space-around;
}

div.image-card {
    background-color: white;
    background-size: cover;
    text-align: center;
    width: 30%;
    padding: 15px;
    margin: 15px 0px;
    border: 10px solid;
    border-image: url("../images/borders/shevitsa.png") 22 round;
}

img.gallery-item {
    height: 250px;
}

.videos-container {
    display: flex;
    justify-content: center;
}

.iframe-container {
    position: relative;
    width: 50%;
    padding-bottom: 56.25%;
    height: 0;
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

#area-container {
    overflow-y: auto;
    height: 500px;
    max-width: 100%;
    margin-left: 20px;
}

.card {
    border: 10px solid;
    border-image: url("../images/borders/shevitsa.png") 22 round;
}

.video-card {
    display: flex;
    margin: 5px;
}

    .video-card img {
        height: 120px;
        max-width: 120px;
    }

.info-card {
    padding: 10px;
}

    .info-card h4 {
        font-size: 17px;
    }

    .info-card p {
        font-size: 12px;
    }
/* ******************************************************
	Responsive Grids
*********************************************************/
.rt-row:before, .rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.rt-row:after {
    clear: both;
}

[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
}



@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }

    html {
        font-size: 16px;
    }

    [class^="col-rt-"] {
        float: left;
        width: 49.9999999999%;
    }

    .col-rt-6, .col-rt-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    /*.rt-container {
        width: 1170px;
    }*/

    /*.col-rt-1 {
        width: 16.6%;
    }

    .col-rt-2 {
        width: 30.33%;
    }

    .col-rt-3 {
        width: 50%;
    }

    .col-rt-4 {
        width: 67.664%;
    }

    .col-rt-5 {
        width: 83.33%;
    }*/
    div.image-card {
        width: 24%;
        margin: 15px 5px
    }
}

@media all and (max-width: 991px) {
    div.image-card {
        width: 50%;
    }

    #iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

        #iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .videos-container {
        flex-wrap: wrap;
    }

    #area-container {
        width: 80%;
        margin-top: 20px;
        margin-left: 0;
        overflow: no-display;
        height: auto;
    }
}

@media all and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-container-left {
        display: none;
    }

    .footer-container-right {
        margin-left: 15%;
        align-self: flex-start;
    }

    div.image-card p,
    .nav-area-image {
        display: none;
    }

    div.image-card {
        width: 50%;
    }

        div.image-card h4 {
            font-size: 1rem;
            margin-bottom: 0px;
        }

    .ScriptHeader h1 {
        font-size: 26px;
    }

    #area-container {
        width: 100%;
    }
}

@media all and (max-width: 580px) {
    /*TO DO: Smaller images*/
    div.image-card {
        width: 100%;
    }
}
