<header class="page-header calendar-header">
    <div class="rt-container op-80 bg-brown">
        <h1>@ViewData["Title"]</h1>
        <p>@ViewData["Description"]</p>
    </div>
    <div class="nav-container horizontal-top">
        <div class="page-navbar horizontal-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="UpcomingEvents">Предстоящи събития</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="RecurringEvents">Всички места</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="AddEvent">Създай събитие</a>
                </li>
            </ul>
        </div>

        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>
