@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="d-flex flex-row justify-content-between align-content-center flex-nowrap">
            <span id="ownerSpan" title="Разглеждане на мое събитие."><i class="fas fa-user"></i></span>
            <span id="readerSpan" title="Разглеждане на допълнителна информация за избрано събитие."><i class="fas fa-info"></i></span>
            <h3>Допълнителна информация</h3>
            <span class="close" title="Затвори">&times;</span>
        </div>

        <div id="eventInfo" class="d-flex flex-column align-items-center m-5">

        </div>

        <div id="ownerButtons">
            <button class="btn btn-danger bg-brown op-80" title="Редактиране на информацията за събитието.">
                Редактирай събитие <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger bg-brown op-80" title="Изтриване на събитието.">
                Изтрий събитие <i class="fas fa-trash-alt"></i>
            </button>
        </div>
        <div id="readerButton">
            <button class="btn btn-danger bg-brown op-80" title="Докладване за грешна или неточна информация.">
                Докладвай за грешка <i class="fas fa-bug"></i>
            </button>
        </div>
    </div>
</div>