@using BGFolklore.Models.Calendar.ViewModels

@model FeedbackViewModel

<div id="myModal" class="modal hidden">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="d-flex flex-row justify-content-between align-items-start flex-nowrap">
            <span id="ownerSpan" class="hidden mr-2" title="Разглеждане на мое събитие."><i class="fas fa-user"></i></span>
            <span id="readerSpan" class="hidden mr-2" title="Разглеждане на допълнителна информация за избрано събитие."><i class="fas fa-info"></i></span>
            <h5 class="text-center">Допълнителна информация</h5>
            <span class="span-close ml-2" title="Затвори">&times;</span>
        </div>

        <div id="eventInfo" class="d-flex flex-column align-items-center m-5">
            <h4 id="eventName" class="border-bottom"></h4>

            <div class="mb-4 d-flex align-items-center" title="Телефон за контакт">
                <i class="fas fa-mobile-alt mr-3"></i>
                <div id="eventPhone">

                </div>
            </div>

            <p id="eventDescription" class="text-break text-justify mx-2"></p>

            <div class="border-top">
                <span class="font-weight-bold">Адрес: </span>
                <div id="eventAddress" class="text-justify">

                </div>
            </div>
        </div>

        <div class="rating-container text-center">
            <form id="formRating" method="post" asp-controller="Calendar" asp-action="RateForEvent">
                <span class="small">Може да оцените мястото за танцуване:</span>
                <input type="hidden" name="rate" id="inputRate" value="1" />
                <input type="hidden" name="eventId" id="eventIdRate" />
                <div class="d-flex justify-content-center align-items-center">
                    <div class="rating-stars">
                        <i class="fas fa-star rate-star" data-value="1"></i>
                        <i class="far fa-star rate-star" data-value="2"></i>
                        <i class="far fa-star rate-star" data-value="3"></i>
                        <i class="far fa-star rate-star" data-value="4"></i>
                        <i class="far fa-star rate-star" data-value="5"></i>
                    </div>
                    <button type="submit" class="btn bg-light rounded-circle ml-3"
                            title="Оцени събитието">
                        <i class="fas fa-vote-yea"></i>
                    </button>
                </div>
            </form>
        </div>

        <div id="readerButtons" class="align-self-center hidden mt-4">
            <button class="btn btn-danger bg-brown op-80" id="reportBtn" type="button"
                    title="Докладване за грешна или неточна информация.">
                Докладвай за грешка <i class="fas fa-bug"></i>
            </button>
        </div>

        <div>
            <form id="reportForm" method="post" asp-controller="Calendar" asp-action="Report"
                  class="hidden align-items-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row hidden">
                    <label asp-for="OwnerId" class="col-form-label"></label>
                    <div>
                        <input asp-for="OwnerId" id="ownerId" class="form-control" value="" />
                    </div>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </div>
                <div class="form-group row hidden">
                    <label asp-for="EventId" class="col-form-label"></label>
                    <div>
                        <input asp-for="EventId" id="eventId" class="form-control" value="" />
                    </div>
                    <span asp-validation-for="EventId" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Description" class="col-form-label"></label>
                    <div>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Description" class="text-danger text-center"></span>
                </div>

                <div>
                    <div class="m-auto">
                        <button type="submit" class="btn btn-danger bg-brown op-80">Изпрати <i class="fas fa-bug"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section CSS {
    <link rel="stylesheet" href="~/css/calendar.css" />
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}