@using BGFolklore.Models.Calendar.ViewModels

@model IList<FeedbackViewModel>
@{
    ViewData["Title"] = "Сигнали за събитие";
    ViewData["Description"] = "Подадени сигнали от потребители за евентуална грешна информация за даденото събитие.";
}
<partial name="_EventsNavPartial" />

<div id="feeedbacksModal">
    <div class="text-center mt-3 mx-auto w-50">
        <div class="d-flex justify-content-center">
            <h3>@ViewData["EventName"]</h3>
            <a asp-action="EditEvent" asp-route-eventId="@Model.FirstOrDefault().EventId"
                    class="btn bg-light rounded-circle ml-4"
                    title="Редактирай събитието.">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <div class="border border-danger text-danger p-2 m-3">
            <span class="text-justify">
                Моля имайте в предвид, че за всички потребители се показва известие за наличие на сигнали за грешна информация, докато не бъдат изтрити всички сигнали!
            </span>
        </div>
    </div>
    <div id="feedbacks" class="d-flex justify-content-center m-5">
        <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Сигнал</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a  asp-action="DeleteAllFeedbacks" asp-route-eventId="@Model.FirstOrDefault().EventId"
                class="btn btn-danger bg-brown op-80"
                title="Изтриване на събитието.">
            Изтрий всички <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>

@section CSS {
    <link rel="stylesheet" href="~/css/calendar.css" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".can-hover td").hover(
            function (e) {
                if (!e.target.classList.contains("no-stilization")) {
                    $(this).parentNode.children.addClass("hovered");
                    $(".no-stilization").removeClass("hovered");
                } else {
                    $(this).parentNode.children.removeClass("hovered");
                }
            },
            function () {

                $(this.parentNode.children).removeClass("hovered");
            }
        );
        $(".no-stilization")
            .click(function (event) {
                event.stopPropagation();
            })
            .attr('title', '');
    </script>
}