
@{
    ViewData["Title"] = "Calendar";
}
<header class="ScriptHeader calendar-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Къде да танцувам?</h1>
        <p>Какво по-хубаво от това всички места за танцуване събрани на едно място?</p>
    </div>
    <div class="ScriptTop horizontal-top">
        <div class="ScriptTop-navbar horizontal-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="UpcomingEvents">Предстоящи събития</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="RecurringEvents">Всички места</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="AddEvent">Създай събитие</a>
                </li>
            </ul>
        </div>
        
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>

