
@{
    ViewData["Title"] = "Calendar";
}
<header class="ScriptHeader calendar-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Къде да танцувам?</h1>
        <p>Какво по-хубаво от това всички места за танцувани събрани на едно място?</p>
    </div>
    <div class="ScriptTop horizontal-top">
        <div class="ScriptTop-navbar horizontal-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="UpcomingEvents">Предстоящи събития</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Calendar" asp-action="RecurringEvents">Всички места</a>
                </li>
            </ul>
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>
<section class="callendar-section">
    @*<div>
        Търсачка
    </div>*@
    <table class="callendar-table">
        <thead>
            <tr>
                <th>Град</th>
                <th>Тип</th>
                <th>Име</th>
                <th>Къде</th>
                <th>Ден</th>
                <th>Час</th>
                <th>За кого е предназначено</th>
                <th>Коментар</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            @*@Html.DisplayForModel()*@
            <tr>
                <td>Кюстендил</td>
                <td>Ансамбъл</td>
                <td>ФА "Родолюбие</td>
                <td>Стадион "Осогово"</td>
                <td>вторник, четвъртък</td>
                <td>От 18:00 до 20:00</td>
                <td>За всички</td>
                <td>Няма</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>