@{
    ViewData["Title"] = "Bulgarian Dances";
}
<h1>Български народни танци</h1>

<ul>
    <li>
        <a href="#history">История</a>
    </li>
    <li>
        <a href="#ethnographicAreas">Етнографски области</a>
    </li>
</ul>


<div id="history">
    <h1>История на българските народни танци</h1>
</div>

<div id="ethnographicAreas">
    <h1>Етнографски области</h1>
</div>
