@using Microsoft.Extensions.Localization
@using BGFolklore.Web.Controllers
@model IStringLocalizer<HomeController>
@*@model string*@
@{
    ViewData["Title"] = "Bulgarian Dances";
}
<header class="ScriptHeader history-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Български народни танци</h1>
    </div>
    <div class="ScriptTop">
        <div class="ScriptTop-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" href="#history">История</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" href="#ethnographicAreas">Етнографски области</a>
                </li>
            </ul>
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>


<div id="history">
    <h1>История на българските народни танци</h1>
    <p>@Model["Quote"]</p>
</div>

<div id="ethnographicAreas">
    <h1>Етнографски области</h1>
</div>
