@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Управление на потребителите";
}

<header class="page-header admin-header">
    <div class="rt-container op-80 bg-brown">
        <h1>@ViewData["Title"]</h1>
        @*<p>Там, където музиката се включва, а заобикалящият ни свят се изключва!</p>*@
    </div>
    <div class="nav-container horizontal-top">
        <div class="page-navbar horizontal-navbar">
            <ul class="my-4">
                <li><a class="nav-link op-80 bg-brown" href="#">Всички потребители</a></li>
                <li><a class="nav-link op-80 bg-brown" href="#">Модератори</a></li>
                <li><a class="nav-link op-80 bg-brown" href="#">Организации</a></li>
                <li><a class="nav-link op-80 bg-brown" href="#">Обикновени потребители</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="home-section">

</section>
