@page
@using BGFolklore.Common.Common
@model EmailModel
@{
    ViewData["Title"] = "Смяна на имейл";
    ViewData["ActivePage"] = ManageNavPages.Email;
    var decryptedEmail = EncryptDecrypt.Decryption(Model.Email);
}

<h4 class="text-center">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-9">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled value="@decryptedEmail"/>
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                @*else
                    {
                        <input asp-for="Email" class="form-control" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }*@
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="text-right">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary bg-brown op-80 text-white">Запиши новия имейл</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
