@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лична информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-center">@ViewData["Title"]</h4>

<div class="row justify-content-center">
    <div class="col-md-9">
        <p>Твоят акаунт съдържа лична информация, която си ни предоставил. Тази страница позволява да изтеглиш или изтриеш тази информация.</p>
        <p>
            <strong>Изтриването на информацията ще изтрие перманентно акаунта.</strong>
        </p>
        <div class="text-right">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn bg-brown op-80 text-white" type="submit">Изтегли</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Изтрий</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
