@using BGFolklore.Models.Gallery.ViewModels
@model IList<AreaImagesViewModel>

<ul class="my-4 tags-bar nav">
    @foreach (var area in Model)
        {
            <li class="nav-item"><a class="area-link nav-link op-80 bg-brown" href="#gallery" id="area-@area.AreaType">@area.AreaName</a></li>
        }
</ul>