@using BGFolklore.Models.Gallery.ViewModels
@model GalleryViewModel
@{
    ViewData["Title"] = "Български носии";
}

<header class="page-header gallery-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Български народни носии</h1>
        <p>Галерия с различните български народни носии от всяка област.</p>
    </div>
    <div class="nav-container">
        <partial name="_AreasNavBar" model="@Model.EthnoAreaViewModels" />
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>

</header>
<section class="gallery-section hidden" id="gallery">
    @foreach (var area in Model.EthnoAreaViewModels)
    {
        <div class="area-gallery @area.AreaName" id="@area.AreaName"> @Html.DisplayFor(m => area.ImageViewModels)</div>
    }
</section>

@section CSS{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/gallery.css" />
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript">
        $(document).ready(
            function () {
                $(".area-link").click(function (e) {

                    $(".area-gallery").hide();
                    $(".gallery-section").show();
                    $("#" + e.target.id.split('-')[1]).show();
                    $('[data-fancybox="' + e.target.id + '"]').fancybox({
                        helpers:
                        {
                            title:
                            {
                                type: 'outside',
                                position: 'top'
                            }
                        },
                        protect: true,
                        buttons: [
                            'download',
                            'zoom',
                            'close'
                        ]
                    });
                });
                //$(".area-link").hover(function (e) {
                //    document.getElementsByClassName("nav-area-image")[0].src = "/images/map/" + e.target.id.split('-')[1]+"_oblast.jpg";
                //},function () {
                //        document.getElementsByClassName("nav-area-image")[0].src = "/images/map/wholemap.gif";
                //});
            }
        );
    </script>
}


