@using BGFolklore.Models.Gallery.ViewModels
@using Microsoft.Extensions.Localization
@using BGFolklore.Web.Controllers
@inject IStringLocalizer<GalleryController> localizer
@model GalleryViewModel
@{
    ViewData["Title"] = "Български носии";
}

<header class="page-header gallery-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Български народни носии</h1>
        <p>Галерия с различните български народни носии от всяка област.</p>
    </div>
    <div class="nav-container">
        <partial name="_AreasNavBar" model="@Model.EthnoAreaViewModels" />
    </div>
</header>

<section class="gallery-section hidden" id="gallery">
    <div class="text-center">
        <a class="btn btn-danger bg-brown op-80 text-white" href="#gallery" id="all">Всички</a>
        <a class="btn btn-danger bg-brown op-80 text-white" href="#gallery" id="female">Женски</a>
        <a class="btn btn-danger bg-brown op-80 text-white" href="#gallery" id="male">Мъжки</a>
    </div>

    @foreach (var area in Model.EthnoAreaViewModels)
    {
        <div class="area-gallery @area.AreaName" id="@area.AreaName">
            @Html.DisplayFor(m => area.ImageViewModels)
        </div>
    }
</section>

@section CSS{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/gallery.css" />
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript">
        $(".area-link").click(function (e) {

            $(".male").show();
            $(".female").show();
            $(".area-gallery").hide();
            $(".gallery-section").show();
            $("#" + e.target.id.split('-')[1]).show();
            $('[data-fancybox="' + e.target.id + '"]').fancybox({
                helpers:
                {
                    title:
                    {
                        type: 'outside',
                        position: 'top'
                    }
                },
                protect: true,
                buttons: [
                    'download',
                    'zoom',
                    'close'
                ]
            });
        });
        $("#all").click(function (e) {
            $(".male").show();
            $(".female").show();
        });
        $("#female").click(function (e) {
            $(".male").hide();
            $(".female").show();
        });
        $("#male").click(function (e) {
            $(".female").hide();
            $(".male").show();
        });
    </script>
}


