
@{
    ViewData["Title"] = "Images";
}
<h1>Български народни носии</h1>

<div class="map-container">
    <img src ="/images/map/wholemap.gif" alt="Whole bulgarian map"/>
</div>
<div class="gallery">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text">Something</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text">Използва се един къде си</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_3.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/kyustendilska_7.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Кюстендилска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/shopska_1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Шопска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/gallery/shopska/shopska_2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Шопска носия</h5>
                <p class="card-text"> Използва се някъде.</p>
             </div>
         </div>
     </div>
      <div class="card-group">
          <div class="card">
              <img class="card-img-top" src="/images/gallery/shopska/trunska_1.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Трънска носия</h5>
                  <p class="card-text"> Използва се някъде.</p>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="/images/gallery/shopska/trunska_2.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Трънска носия</h5>
                  <p class="card-text"> Използва се някъде.</p>
              </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="/images/gallery/shopska/trunska_3.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Трънска носия</h5>
                  <p class="card-text"> Използва се някъде.</p>
              </div>
          </div>
      </div>
</div>
