@using BGFolklore.Models.Gallery.ViewModels
@model IList<AreaImagesViewModel>
@{
    ViewData["Title"] = "Images";
}

<header class="ScriptHeader">
    <div class="rt-container op-80 bg-brown">
        <h1>Български народни носии</h1>
        <p>Галерия с различните български народни носии от всяка област.</p>
    </div>
    <div class="ScriptTop">
        <div class="ScriptTop-navbar" id="area-nav-bar">
            <partial name="_AreasNavBar" />
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>

</header>
<section class="gallery-section" id="gallery">
    @foreach (var area in Model)
    {
        <div class="area-gallery @area.AreaType" id="@area.AreaType"> @Html.DisplayFor(a => area.Images, new { data = area.AreaType })</div>
    }
</section>
<script>
    $(document).ready(
        function () {

            $(".area-link").click(function (e) {

                $(".area-gallery").hide();
                $(".gallery-section").show();
                $("#" + e.target.id.split('-')[1]).show();
                $('[data-fancybox="' + e.target.id + '"]').fancybox({
                    helpers:
                    {
                        title:
                        {
                            type: 'outside',
                            position: 'top'
                        }
                    },
                    protect: true,
                    buttons: [
                        'download',
                        'zoom',
                        'close'
                    ]
                });
            });
            //$(".area-link").hover(function (e) {
            //    document.getElementsByClassName("nav-area-image")[0].src = "/images/map/" + e.target.id.split('-')[1]+"_oblast.jpg";
            //},function () {
            //        document.getElementsByClassName("nav-area-image")[0].src = "/images/map/wholemap.gif";
            //});
        }
    );
</script>

