
@{
    ViewData["Title"] = "Галерия";
}
<header class="page-header gallery-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Галерия</h1>
        <p>Галерия с различните български народни носии хора и танци от всяка област.</p>
    </div>
    <div class="nav-container horizontal-top">
        <div class="page-navbar horizontal-navbar">
            <ul class="my-4">
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Gallery" asp-action="Images">Носии</a>
                </li>
                <li>
                    <a class="nav-link op-80 bg-brown" asp-area="" asp-controller="Gallery" asp-action="Videos">Хора</a>
                </li>
            </ul>
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>

@section CSS {
    <link rel="stylesheet" href="~/css/gallery.css" />
}