
@{
    ViewData["Title"] = "Gallery";
}
<h1>Галерия</h1>

<ul>
    <li>
        <a asp-area="" asp-controller="Gallery" asp-action="Images">Носии</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Gallery" asp-action="Videos">Хора</a>
    </li>
</ul>
