@using BGFolklore.Models.Gallery.ViewModels
@model IList<AreaVideosViewModel>
@{
    ViewData["Title"] = "Videos";
}

<header class="page-header gallery-header">
    <div class="rt-container op-80 bg-brown">
        <h1>Български народни хора</h1>
        <p>Галерия с различните български народни хора и танци от всяка област.</p>
    </div>
    <div class="nav-container">
        <div class="page-navbar" id="area-nav-bar">
            @*<partial name="_AreasNavBar" />*@
            <ul class="my-4 tags-bar nav">
                @foreach (var area in Model)
                {
                    <li class="nav-item"><a class="area-link nav-link op-80 bg-brown" href="#gallery" id="area-@area.AreaType">@area.AreaName</a></li>
                }
            </ul>
        </div>
        @*<img src="~/images/map/wholemap.gif" class="nav-area-image" />*@
    </div>
</header>


<section class="gallery-section hidden" id="gallery">
    <div class="videos-container">
        <div id="iframe-container">

        </div>
        <div id="areaContainer">
            @foreach (var area in Model)
            {
                <div class="area-videos @area.AreaType" id="@area.AreaType">@Html.DisplayFor(a => area.Videos, new { data = area.AreaType })</div>
            }
        </div>
    </div>
</section>

@section CSS {
    <link rel="stylesheet" href="~/css/gallery.css" />
}

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('.area-link').click(function (e) {
                document.getElementById('iframe-container').innerHTML = '';
                $(".area-videos").hide();
                $(".gallery-section").show();
                $("#" + e.target.id.split('-')[1]).show();
            });
            $('.card').click(function () {
                let playerDiv = document.getElementById('iframe-container');
                playerDiv.innerHTML = '';

                let frame = document.createElement('iframe');
                frame.src = "https://www.youtube.com/embed/" + $(this).attr('id') + "?enablejsapi=1&autoplay=1";
                frame.allowFullscreen = true;
                frame.title = "YouTube video player";
                frame.frameBorder = "0";
                frame.width = "650px";
                frame.height = "500px";
                frame.classList.add('youtube-video');
                playerDiv.appendChild(frame);

                $('.nav-item').onfocus = () => {
                    $('.youtube-video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');

                }
            });

        });

    </script>
}