<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/logo-mini.png" type="image/x-icon">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />

    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow bg-gray py-0">
            <div class="container align-content-center">
                <a class="navbar-brand py-0" asp-controller="Home" asp-action="Index">
                    <img class="img-logo" src="~/images/logo.png" alt="BG Folklore"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="History">История</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Gallery" asp-action="Index">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Calendar" asp-action="Index">Къде да танцувам?</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <section class="footer-container d-flex justify-content-around m-0 bg-gray">
            <article class="d-flex flex-column footer-left">
                <h4>Друго, което може да видите:</h4>
                <article class="d-flex flex-row flex-wrap">
                    <ul class="footer-list py-2" type="none">
                        <li><a asp-controller="Home" asp-action="History" class="footer-link">История</a></li>
                        <li><a asp-controller="Home" asp-action="EthnoAreas" class="footer-link">Фолклорни области</a></li>
                        <li><a asp-controller="Home" asp-action="Embroidery" class="footer-link">Шевиците</a></li>
                        <li><a asp-controller="Gallery" asp-action="Index" class="footer-link">Галерия</a></li>
                    </ul>
                    <ul class="footer-list py-2" type="none">
                        <li><a asp-controller="Calendar" asp-action="Index" class="footer-link">Къде да танцувам?</a></li>
                        <li><a asp-controller="Calendar" asp-action="AddEvent" class="footer-link">Създай събитие</a></li>
                        <li><a asp-controller="Calendar" asp-action="OwnEvents" class="footer-link">Моите събития</a></li>
                    </ul>
                </article>
            </article>
            <article class="footer-right">
                <h4>За контакти:</h4>
                <article>
                    <ul class="footer-list" type="none">
                        <li>
                            <a href="https://github.com/Margi13" class="github-link" title="GitHub" target="_blanck">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/margarita-petrova-356aaa1b0" class="linkedin-link" title="LinkedIn" target="_blanck">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li><i class="fas fa-female"></i> Маргарита Николова Петрова</li>
                        <li><i class="far fa-envelope"></i> margarita.petrova.kn@gmail.com</li>
                    </ul>
                </article>
            </article>
        </section>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/9ad02b2086.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
