<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bulgarian Folklore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History">История</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Галерия</a>
                        </li>
                        @* if(isAuthorized) *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Къде да танцувам?</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <section class="footer-container">
            <article class="footer-container-left">
                <h4>Друго, което може да прочетете:</h4>
                <article class="other-to-read-container">
                    <ul type="none">
                        <li><a href="#" class="footer-link">HTTP</a></li>
                        <li><a href="#" class="footer-link">SSL / TLS</a></li>
                        <li><a href="#" class="footer-link">HTTPS</a></li>
                    </ul>
                </article>
            </article>
            <article class="footer-container-right">
                <h4>За контакти:</h4>
                <article class="contact-info-container">
                    <ul type="none">
                        <li>
                            <a href="https://github.com/Margi13" class="github-link" title="GitHub" target="_blanck">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/margarita-petrova-356aaa1b0" class="linkedin-link" title="LinkedIn" target="_blanck">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li><i class="fas fa-female"></i> Маргарита Николова Петрова</li>
                        <li><i class="far fa-envelope"></i> margarita.petrova.kn@gmail.com</li>
                    </ul>
                </article>
            </article>
        </section>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/9ad02b2086.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
